Source: pacman
Section: games
Priority: optional
Maintainer: Ryan Fortner <ryankfortner@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-autoreconf, libsdl2-dev, libsdl2-ttf-dev, libsdl2-image-dev, libsdl2-mixer-dev
Standards-Version: 4.5.0
Homepage: https://github.com/ryanfortner/pacman

Package: pacman
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Yet another pacman clone in C/C++ and SDL.
 This is a clone of the original pacman by Namco.
